body {
  font-family: 'Courier New', Courier, monospace;
  /* Setting the default font size to 12px. */
  font-size: 12px;
}

.container {
  /* Align the Container to the center of the body. */
  margin: 0 auto;
  /* Applying the padding from right and left of 10px; */
  padding: 10px 20px;

  /* Applying some box shadow for better look and feel. */
  -webkit-box-shadow: 0px 9px 30px -3px rgba(212,130,187,1);
  -moz-box-shadow: 0px 9px 30px -3px rgba(212,130,187,1);
  box-shadow: 0px 9px 30px -3px rgba(212,130,187,1);
}

@media(max-width: 768px) {
  .container {
    padding: 10px;
  }
}

@media(min-width: 1080px) {
  .container {
    width: 1080px;
    max-width: 1080px;
  }
}

.heading {
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(56, 146, 211);
  color: #fff;
  padding: 20px 0px;
}

.text-center {
  text-align: center;
}

.add-remove {
  padding: 10px 0px;
} 

.align-right {
  margin-right: 0px;
  margin-left: auto;
}

.display-flex {
  display: flex;
}

button {
  color: #ffffff;
  background-color: #0aad4b;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.column-header {
  font-weight: bold;
  border-right: 1px solid grey;
}

.row-header {
  border-bottom: 1px solid grey;
}

.column {
  border-left: 1px solid #c8bfbf;
}

.column-header, .column {
  width: 20%;
  /* width: 150px;
  max-width: 150px; */
  padding: 10px 5px;
}

.grid-row:hover {
  background-color: #e5e4f5;
}

.column-header:last-child {
  border-right: none;
  padding-right: 20px;
}

.grid {
  border: 1px solid grey;
  word-wrap: break-word;
  /* Applying the width as the table and its columns should have horizontal and vertical scroll. */
  /* width: 1080px; */
}
.grid-body {
  height: 400px;
  max-height: 300px;
  overflow: scroll;
}

@media(max-width: 768px) {
  /* .container {
    width: 600px;
    max-width: 600px;
  } */
  .grid {
    /* width: 600px;
    max-width: 600px; */
    overflow: auto;
    margin: 0 auto;
  }
  .column-header, .column {
    width: 80px;
    max-width: 80px;
  }
  .column-header:last-child {
    padding-right: 6px;
  }
  .grid-body{
    overflow: initial;
  }
}

[role='button'] {
  cursor: pointer;
}

.grid-row:nth-child(even) {
  background: #e5e5e5;
}

/* Styles specifically for Logo Images and others. */
.section-container {
  padding: 50px 0px;
  margin: 0 auto;
  width: 400px;
}
.section-container section img {
  height: 150px;
  width: 170px;
  border-radius: 90px;
}

.section-container .input-field {
  padding: 10px 0px;
}

.section-container .input-field input {
  height: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding-left: 10px;
  line-height: 25px;
}

.section-container .input-field label {
  padding-bottom: 5px;
}

.d-block {
  display: block;
}

.text-right {
  text-align: right;
}

.w-100 {
  width: 100%;
}

.text-left {
  text-align: left;
}

.section-container .submit-section {
  padding: 10px 0px;
}

@media(max-width: 600px) {
  .section-container {
    width: 400px;
    margin: 0 auto;
  }
}
